*{
  font-family: poppins;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

::selection{
color:#ffffff;
background-color:#40aa54;}